body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u411 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u412 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:80px;
}
#u413 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:1351px;
  height:80px;
}
#u414 {
  position:absolute;
  left:2px;
  top:32px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u415 {
  position:absolute;
  left:1200px;
  top:13px;
  width:120px;
  height:38px;
  color:#999999;
}
#u416 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u417 {
  position:absolute;
  left:40px;
  top:27px;
  width:73px;
  height:24px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u418 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u419 {
  position:absolute;
  left:254px;
  top:0px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u420 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u421 {
  position:absolute;
  left:380px;
  top:-1px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u422 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u423 {
  position:absolute;
  left:505px;
  top:-1px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u424 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u425 {
  position:absolute;
  left:631px;
  top:-1px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u426 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u427 {
  position:absolute;
  left:757px;
  top:-1px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u428 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u429 {
  position:absolute;
  left:1119px;
  top:55px;
  width:202px;
  height:16px;
  color:#FFFFFF;
}
#u430 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  visibility:hidden;
  white-space:nowrap;
}
#u431 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:42px;
}
#u432 {
  position:absolute;
  left:-1px;
  top:74px;
  width:1351px;
  height:42px;
}
#u433 {
  position:absolute;
  left:2px;
  top:13px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u434 {
  position:absolute;
  left:426px;
  top:62px;
  width:37px;
  height:20px;
}
#u435 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u436 {
  position:absolute;
  left:282px;
  top:82px;
  width:90px;
  height:28px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u437 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u438 {
  position:absolute;
  left:399px;
  top:82px;
  width:90px;
  height:28px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u439 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
}
#u440 {
  position:absolute;
  left:510px;
  top:82px;
  width:90px;
  height:28px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u441 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1282px;
  height:1687px;
}
#u442 {
  position:absolute;
  left:-1px;
  top:193px;
  width:1282px;
  height:1687px;
}
#u443 {
  position:absolute;
  left:2px;
  top:836px;
  width:1278px;
  visibility:hidden;
  word-wrap:break-word;
}
