body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2073px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:857px;
}
#u8996 {
  position:absolute;
  left:-1px;
  top:106px;
  width:1351px;
  height:857px;
}
#u8997 {
  position:absolute;
  left:2px;
  top:420px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:80px;
}
#u9000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1351px;
  height:80px;
}
#u9001 {
  position:absolute;
  left:2px;
  top:32px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u9002 {
  position:absolute;
  left:1200px;
  top:15px;
  width:120px;
  height:38px;
  color:#999999;
}
#u9003 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u9004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9004 {
  position:absolute;
  left:40px;
  top:29px;
  width:73px;
  height:24px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9005 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u9006 {
  position:absolute;
  left:254px;
  top:2px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u9007 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u9008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u9008 {
  position:absolute;
  left:380px;
  top:1px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u9009 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u9010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u9010 {
  position:absolute;
  left:505px;
  top:1px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u9011 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u9012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u9012 {
  position:absolute;
  left:631px;
  top:1px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u9013 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u9014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u9014 {
  position:absolute;
  left:757px;
  top:1px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u9015 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u9016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9016 {
  position:absolute;
  left:1119px;
  top:57px;
  width:202px;
  height:16px;
  color:#FFFFFF;
}
#u9017 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  visibility:hidden;
  white-space:nowrap;
}
#u9018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9019 {
  position:absolute;
  left:-1px;
  top:151px;
  width:1351px;
  height:59px;
}
#u9020 {
  position:absolute;
  left:2px;
  top:22px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:735px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9021 {
  position:absolute;
  left:-1px;
  top:210px;
  width:1351px;
  height:735px;
}
#u9022 {
  position:absolute;
  left:2px;
  top:360px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u9023 {
  position:absolute;
  left:563px;
  top:173px;
  width:57px;
  height:20px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u9024 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:793px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9025 {
  position:absolute;
  left:-1px;
  top:151px;
  width:207px;
  height:793px;
}
#u9026 {
  position:absolute;
  left:2px;
  top:388px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u9027 {
  position:absolute;
  left:21px;
  top:166px;
  width:154px;
  height:29px;
  font-size:12px;
  color:#FFFFFF;
}
#u9028 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  word-wrap:break-word;
}
#u9029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u9029 {
  position:absolute;
  left:1289px;
  top:164px;
  width:29px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u9030 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:38px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9032 {
  position:absolute;
  left:-1px;
  top:210px;
  width:207px;
  height:38px;
}
#u9033 {
  position:absolute;
  left:2px;
  top:11px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:31px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(174, 174, 174, 0.847058823529412);
  text-align:left;
}
#u9034 {
  position:absolute;
  left:-1px;
  top:214px;
  width:207px;
  height:31px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(174, 174, 174, 0.847058823529412);
  text-align:left;
}
#u9035 {
  position:absolute;
  left:44px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u9036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u9036 {
  position:absolute;
  left:21px;
  top:224px;
  width:11px;
  height:11px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u9037 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:38px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9039 {
  position:absolute;
  left:-1px;
  top:249px;
  width:207px;
  height:38px;
}
#u9040 {
  position:absolute;
  left:2px;
  top:11px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:31px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
  text-align:left;
}
#u9041 {
  position:absolute;
  left:-1px;
  top:252px;
  width:207px;
  height:31px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
  text-align:left;
}
#u9042 {
  position:absolute;
  left:44px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u9043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u9043 {
  position:absolute;
  left:21px;
  top:263px;
  width:11px;
  height:11px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u9044 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9046 {
  position:absolute;
  left:-1px;
  top:284px;
  width:207px;
  height:38px;
}
#u9047 {
  position:absolute;
  left:2px;
  top:11px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:31px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u9048 {
  position:absolute;
  left:-1px;
  top:287px;
  width:207px;
  height:31px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u9049 {
  position:absolute;
  left:44px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u9050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u9050 {
  position:absolute;
  left:21px;
  top:298px;
  width:11px;
  height:11px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u9051 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9053 {
  position:absolute;
  left:-1px;
  top:323px;
  width:207px;
  height:38px;
}
#u9054 {
  position:absolute;
  left:2px;
  top:11px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:31px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u9055 {
  position:absolute;
  left:-1px;
  top:327px;
  width:207px;
  height:31px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u9056 {
  position:absolute;
  left:44px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u9057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u9057 {
  position:absolute;
  left:21px;
  top:337px;
  width:11px;
  height:11px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u9058 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:676px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9059 {
  position:absolute;
  left:220px;
  top:240px;
  width:1115px;
  height:676px;
}
#u9060 {
  position:absolute;
  left:2px;
  top:330px;
  width:1111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u9061 {
  position:absolute;
  left:220px;
  top:210px;
  width:277px;
  height:29px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u9062 {
  position:absolute;
  left:2px;
  top:6px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:38px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9064 {
  position:absolute;
  left:-1px;
  top:361px;
  width:207px;
  height:38px;
}
#u9065 {
  position:absolute;
  left:2px;
  top:11px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u9066 {
  position:absolute;
  left:-1px;
  top:365px;
  width:207px;
  height:31px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u9067 {
  position:absolute;
  left:44px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u9068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u9068 {
  position:absolute;
  left:21px;
  top:375px;
  width:11px;
  height:11px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u9069 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9071 {
  position:absolute;
  left:-1px;
  top:523px;
  width:207px;
  height:38px;
}
#u9072 {
  position:absolute;
  left:2px;
  top:11px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:31px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u9073 {
  position:absolute;
  left:-1px;
  top:527px;
  width:207px;
  height:31px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u9074 {
  position:absolute;
  left:44px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u9075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u9075 {
  position:absolute;
  left:21px;
  top:537px;
  width:11px;
  height:11px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u9076 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u9077 {
  position:absolute;
  left:181px;
  top:378px;
  width:9px;
  height:6px;
}
#u9078 {
  position:absolute;
  left:2px;
  top:-5px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u9079 {
  position:absolute;
  left:1228px;
  top:164px;
  width:29px;
  height:29px;
}
#u9080 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u9081 {
  position:absolute;
  left:1167px;
  top:164px;
  width:29px;
  height:29px;
}
#u9082 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u9083 {
  position:absolute;
  left:1295px;
  top:168px;
  width:18px;
  height:20px;
}
#u9084 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:962px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9085 {
  position:absolute;
  left:1385px;
  top:1px;
  width:689px;
  height:962px;
}
#u9086 {
  position:absolute;
  left:2px;
  top:473px;
  width:685px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1116px;
  height:2px;
}
#u9087 {
  position:absolute;
  left:220px;
  top:285px;
  width:1115px;
  height:1px;
}
#u9088 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u9089 {
  position:absolute;
  left:65px;
  top:410px;
  width:73px;
  height:17px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F2F2F2;
}
#u9090 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:2px;
}
#u9091 {
  position:absolute;
  left:37px;
  top:437px;
  width:138px;
  height:1px;
  opacity:0.3;
}
#u9092 {
  position:absolute;
  left:2px;
  top:-8px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u9093 {
  position:absolute;
  left:66px;
  top:489px;
  width:73px;
  height:17px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u9094 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:2px;
}
#u9095 {
  position:absolute;
  left:40px;
  top:516px;
  width:138px;
  height:1px;
  opacity:0.3;
}
#u9096 {
  position:absolute;
  left:2px;
  top:-8px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u9097 {
  position:absolute;
  left:269px;
  top:314px;
  width:57px;
  height:20px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#949494;
}
#u9098 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u9099 {
  position:absolute;
  left:269px;
  top:372px;
  width:49px;
  height:17px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u9100 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u9101 {
  position:absolute;
  left:269px;
  top:416px;
  width:25px;
  height:17px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u9102 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u9103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:2px;
}
#u9103 {
  position:absolute;
  left:254px;
  top:398px;
  width:1049px;
  height:1px;
}
#u9104 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u9105 {
  position:absolute;
  left:253px;
  top:349px;
  width:1050px;
  height:1px;
  opacity:0.4;
}
#u9106 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:2px;
}
#u9107 {
  position:absolute;
  left:254px;
  top:446px;
  width:1049px;
  height:1px;
}
#u9108 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:2px;
}
#u9109 {
  position:absolute;
  left:254px;
  top:494px;
  width:1049px;
  height:1px;
}
#u9110 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u9111 {
  position:absolute;
  left:269px;
  top:464px;
  width:22px;
  height:17px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u9112 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u9113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u9113 {
  position:absolute;
  left:269px;
  top:509px;
  width:25px;
  height:17px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u9114 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u9115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:2px;
}
#u9115 {
  position:absolute;
  left:254px;
  top:535px;
  width:1049px;
  height:1px;
}
#u9116 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u9117 {
  position:absolute;
  left:269px;
  top:549px;
  width:25px;
  height:17px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u9118 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u9119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:2px;
}
#u9119 {
  position:absolute;
  left:254px;
  top:576px;
  width:1049px;
  height:1px;
}
#u9120 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9121 {
  position:absolute;
  left:1238px;
  top:258px;
  width:70px;
  height:20px;
}
#u9122 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u9123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u9123 {
  position:absolute;
  left:269px;
  top:588px;
  width:25px;
  height:17px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u9124 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u9125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:2px;
}
#u9125 {
  position:absolute;
  left:254px;
  top:615px;
  width:1049px;
  height:1px;
}
#u9126 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9127 {
  position:absolute;
  left:1192px;
  top:371px;
  width:56px;
  height:16px;
}
#u9128 {
  position:absolute;
  left:2px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u9129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9129 {
  position:absolute;
  left:1192px;
  top:417px;
  width:56px;
  height:16px;
}
#u9130 {
  position:absolute;
  left:2px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u9131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9131 {
  position:absolute;
  left:1192px;
  top:465px;
  width:56px;
  height:16px;
}
#u9132 {
  position:absolute;
  left:2px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u9133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9133 {
  position:absolute;
  left:1192px;
  top:509px;
  width:56px;
  height:16px;
}
#u9134 {
  position:absolute;
  left:2px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u9135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9135 {
  position:absolute;
  left:1192px;
  top:550px;
  width:56px;
  height:16px;
}
#u9136 {
  position:absolute;
  left:2px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u9137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9137 {
  position:absolute;
  left:1192px;
  top:589px;
  width:56px;
  height:16px;
}
#u9138 {
  position:absolute;
  left:2px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u9139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:794px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9139 {
  position:absolute;
  left:206px;
  top:151px;
  width:1144px;
  height:794px;
  opacity:0.8;
}
#u9140 {
  position:absolute;
  left:2px;
  top:389px;
  width:1140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:676px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:30px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9141 {
  position:absolute;
  left:1077px;
  top:239px;
  width:273px;
  height:676px;
}
#u9142 {
  position:absolute;
  left:2px;
  top:330px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u9143 {
  position:absolute;
  left:1098px;
  top:274px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u9144 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u9145 {
  position:absolute;
  left:1098px;
  top:308px;
  width:225px;
  height:25px;
}
#u9145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9146 {
  position:absolute;
  left:1095px;
  top:877px;
  width:73px;
  height:21px;
}
#u9147 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u9148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9148 {
  position:absolute;
  left:1190px;
  top:877px;
  width:73px;
  height:21px;
}
#u9149 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u9150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u9150 {
  position:absolute;
  left:63px;
  top:450px;
  width:49px;
  height:17px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
}
#u9151 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:2px;
}
#u9152 {
  position:absolute;
  left:37px;
  top:477px;
  width:138px;
  height:1px;
  opacity:0.3;
}
#u9153 {
  position:absolute;
  left:2px;
  top:-8px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9154 {
  position:absolute;
  left:1399px;
  top:15px;
  width:131px;
  height:29px;
}
#u9155 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
