body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10775 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:80px;
}
#u10776 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1351px;
  height:80px;
}
#u10777 {
  position:absolute;
  left:2px;
  top:32px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u10778 {
  position:absolute;
  left:1200px;
  top:15px;
  width:120px;
  height:38px;
  color:#999999;
}
#u10779 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u10780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10780 {
  position:absolute;
  left:40px;
  top:29px;
  width:73px;
  height:24px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10781 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u10782 {
  position:absolute;
  left:254px;
  top:1px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u10783 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u10784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u10784 {
  position:absolute;
  left:380px;
  top:1px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u10785 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u10786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u10786 {
  position:absolute;
  left:505px;
  top:1px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u10787 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u10788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u10788 {
  position:absolute;
  left:631px;
  top:1px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u10789 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u10790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u10790 {
  position:absolute;
  left:757px;
  top:1px;
  width:126px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u10791 {
  position:absolute;
  left:0px;
  top:28px;
  width:126px;
  word-wrap:break-word;
}
#u10792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10792 {
  position:absolute;
  left:1119px;
  top:57px;
  width:202px;
  height:16px;
  color:#FFFFFF;
}
#u10793 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  visibility:hidden;
  white-space:nowrap;
}
#u10794 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u10795 {
  position:absolute;
  left:802px;
  top:62px;
  width:37px;
  height:20px;
}
#u10796 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u10797 {
  position:absolute;
  left:1206px;
  top:264px;
  width:101px;
  height:16px;
  text-align:center;
}
#u10798 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
